name: Homebrew Release

on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      tag:
        description: 'Release tag to build (e.g., v0.1.2)'
        required: false

env:
  HOMEBREW_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  homebrew-releaser:
    runs-on: ubuntu-latest
    name: Homebrew Releaser
    steps:
      - name: Bump formula and create PR
        uses: dawidd6/action-homebrew-bump-formula@v3
        with:
          token: ${{ secrets.HOMEBREW_GITHUB_TOKEN }}
          formula: swift-docc-static
          tap: mipalgu/homebrew-tap
          tag: ${{ github.event.inputs.tag }}
